aside.overview {
    padding: 2rem;
    width: 15rem;
    border-radius: var(--border-radius);
    background-color: var(--md-sys-color-background);
}

aside.overview > p:first-child {
    font-size: 0.688rem;
}

aside.overview > h2 {
    margin: 1rem 0rem;
    font-size: 1.5rem;
}

aside.overview > ul > li {
    list-style-type: none;
    padding: 0rem;
    margin: 0.5rem 0rem;
    line-height: 3rem;
}

aside.overview > ul > li > a {
    text-decoration: none;
}