main .task-card {
    display: flex;
    align-items: center;
    background-color: crimson;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 35px;
    line-height: 1.7;
}
.task-actions {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.task-actions button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
